*::selection {
  background: var(--c-alpha-light);
}

.Layout {
  overflow: hidden;
}

.Container {
  max-width: 102.4rem;
  margin: 0 auto;
  padding-top: 12rem;

  @include respond('tab-port') {
    padding-top: 6rem;
  }
}

.underline {
  box-shadow: inset 0 -0.6em var(--c-alpha-light);
}

h2 {
  font-size: 3.6rem;
  color: var(--c-beta);
  text-align: center;
  font-weight: bold;

  @include respond('phone') {
    font-size: 2rem;
    padding: 0 1rem;
  }
}

h3 {
  font-size: 2.6rem;
  color: var(--c-beta);
  font-weight: bold;

  @include respond('phone') {
    font-size: 1.8rem;
  }
}
