.container {
  background-color: var(--c-gamma);
}

.content {
  max-width: var(--max-width);
  margin: 0 auto;
}

.blogWrapper {
  max-width: 900px;
  margin: 0 auto;
}

.heading {
  font-size: var(--fs-5xl);
  text-align: center;
  margin-bottom: var(--sp-24);
  padding-top: var(--sp-12);
  margin-top: 0;

  @media (max-width: 900px) {
    margin-bottom: var(--sp-12);
    padding-top: var(--sp-8);
  }
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    color: var(--c-beta);
  }
}

.weirdWave {
  position: absolute;
  right: -10%;
  top: -20%;
  transform: rotate(310deg);

  @media (max-width: 800px) {
    right: 5%;
    top: -10%;
  }

  @media (max-width: 550px) {
    display: none;
  }
}

.phoneDark {
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
  padding-top: var(--sp-64);

  & > svg {
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: 1200px) {
      left: 50%;
      transform: translate(-50%);
      width: 280px;
    }
  }
}

.blogWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 775px;
  margin: 0 auto;
  justify-content: space-between;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    padding: 0 var(--sp-2);
  }
}

.blog {
  display: flex;
  flex-basis: 50%;
  max-width: 360px;
  height: 300px;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border: 3px solid var(--c-alpha--light);
  border-radius: 10px;
  padding: var(--sp-8) var(--sp-6);
  background-color: var(--c-gamma);
  margin-bottom: var(--sp-12);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.2s;

  &:hover {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    border: 3px solid var(--c-alpha);
  }

  @media (max-width: 800px) {
    margin-bottom: var(--sp-6);
  }
}

.title {
  color: var(--c-beta);
  font-size: var(--fs-xl);
  margin-bottom: var(--sp-4);
  line-height: 35px;
  min-height: calc(2 * 35px);

  &:hover {
    text-decoration: underline;
  }

  & h3 {
    margin: 0;
  }
}

.description {
  font-size: var(--fs-lg);
  margin-bottom: var(--sp-4);
}

.info {
  font-size: var(--fs-base);
  color: var(--c-beta--light);
  margin-bottom: var(--sp-4);
}
